@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav .nav-item {
  position: absolute;
  padding: 15px;
}
nav .nav-item:hover {
  transform: scale(1.08);
  font-weight: bold;
}
nav .nav-item.top-left {
  top: 0;
  left: 0;
}
nav .nav-item.top-right {
  top: 0;
  right: 0;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.card h2, h3 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.card h2 {
  font-size: 48px;
}
.card h3 {
  font-size: 26px;
}
.card ul {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.type-writer-text {
  font-family: 'Lekton', sans-serif;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 15px;
  /*letter-spacing: .15em;*/
}
.type-writer-text .txt-rotate {
  border-right: .15em solid white;
  animation:
    /*typing 3.5s steps(40, end),*/
    blink-caret .75s step-end infinite;
}
/*@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    background: url(../video/Love-Coding.jpg) no-repeat;
    /*bottom: 0;*/
}
.video-container video.fullScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
