@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  padding: 0;
  margin: 0;
  /*height: 100vh;*/
  /*overflow: hidden;*/
  max-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
nav .nav-item {
  position: absolute;
  padding: 15px;
}
nav .nav-item:hover {
  font-weight: bold;
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}
nav .nav-item.top-left {
  top: 0;
  left: 0;
}
nav .nav-item.top-right {
  top: 0;
  right: 0;
}
nav .nav-item.bottom-right {
  bottom: 0;
  right: 0;
}
nav .nav-item.bottom-left {
  bottom: 0;
  left: 0;
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

#landing-wrapper {
  z-index: -1;
}
#landing-section {
    border-right: none;
    border-left: none;
    position: relative;
    /*height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;*/
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    background: url(../video/Love-Coding.jpg) no-repeat;
    /*bottom: 0;*/
}
.video-container video.fullScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  z-index: -100;
}
.card h2, h3 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.card h2 {
  font-size: 48px;
}
.card h3 {
  font-size: 26px;
}
.card p {
  font-size: 20px;
}
.card ul {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.type-writer-text {
  font-family: 'Lekton', sans-serif;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 15px;
  /*letter-spacing: .15em;*/
}
.type-writer-text .txt-rotate {
  border-right: .15em solid white;
  animation:
    /*typing 3.5s steps(40, end),*/
    blink-caret 1s step-end infinite;
}
/*
typing is handles by JS
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.learn-more {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.float {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;

}
@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);    }
}
@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}
}

#content-wrapper {
  max-width: 100%;
  max-width: 100vw;
}

#content-wrapper section {
  background: white;
  margin: -20px 0 -20px 0;
  padding: 20px 0 20px 0;
  z-index: 1000;
  display: block;
  width: 100%;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;

  display: flex;
  justify-content: center;
}
#content-wrapper section.dark {
  background: #F2F2F2;
}
#content-wrapper section .container {
  width: 100%;
  max-width: 1080px;
  align-self: center;
}
section#about h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}
section#about p {
  font-size: 24px;
  color: #8e8e8e;
  font-weight: 300;
  margin-top: 0;
}
section#about p span {
  color: black;
}
.transparent-background {
  background-color : transparent!important;
}
.full-page {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
}
