@font-face {
  font-family: 'si';
  src: url('socicons/socicon.eot');
  src: url('socicons/socicon.eot?#iefix') format('embedded-opentype'),
       url('socicons/socicon.woff') format('woff'),
       url('socicons/socicon.ttf') format('truetype'),
       url('socicons/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family:si;
      src: url(socicons/socicon.svg) format(svg);
  }
}

.soc {
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 29px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 10px;
  color: #ffffff;
  background-color: none;
}

.soc a:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.soc-icon-last{
  margin:0 !important;
}

.soc-github {
  background-color: #221e1b;
}
.soc-github:before {
  content:'\e030';
}
.soc-quora {
  background-color: #cb202d;
}
.soc-quora:before {
  content:'\e073';
}
.soc-stackoverflow {
  background-color: #FD9827;
}
.soc-stackoverflow:before {
  content:'\e007';
}
.soc-pinterest {
  background-color: #c92619;
}
.soc-pinterest:before {
  content:'\e043';
}
.soc-linkedin {
  background-color: #3371b7;
}
.soc-linkedin:before {
  content:'\e049';
}
.soc-twitter {
  background-color: #4da7de;
}
.soc-twitter:before {
  content:'\e040';
}
.soc-instagram {
    background-color: #8a3ab9;
}
.soc-instagram:before {
    content:'\e057';
}
.soc-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before {
  content:'\e041';
}
