doctype html
html(lang="")
  head
    title Pablo Gamito
    link(rel="stylesheet", href="./style.sass")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav.nav
        .location 
            a(href="#") home/pablo/
        .sections
            a(href="#resume").section-link resumé
            a(href="#contact").section-link contact

    .landing
        .title.glitch.text-3xl.md--text-5xl(data-text="Hi\nI'm Pablo Gamito")
            | Hi
            br
            | I'm 
            h1 Pablo Gamito

        .subtitle.text-glitch.text-lg.md--text-2xl
            | &gt;&nbsp;
            span.text
            span.cursor &block;

        .social-media-icons
            a(href="https://link.gamito.me/linkedin", target="_blank").media-icon.fab.fa-linkedin
            a(href="https://link.gamito.me/github", target="_blank").media-icon.fab.fa-github
            a(href="https://link.gamito.me/medium", target="_blank").media-icon.fab.fa-medium

        .scroll-icon
            a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' 
                    focusable='false' width='1em' height='1em' 
                    style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' 
                    preserveaspectratio='xMidYMid meet' viewbox='0 0 24 24')
                    path(d='M12 6a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V7a1 1 0 0 0-1-1zm0-4a7 7 0 0 0-7 7v6a7 7 0 0 0 14 0V9a7 7 0 0 0-7-7zm5 13a5 5 0 0 1-10 0V9a5 5 0 0 1 10 0z')

    .section-wrapper
        .section#resume
            .title.text-3xl.md--text-5xl
                | &gt; resumé&nbsp;
                span.cursor &block;

            .subsection
                .title 
                    | about me
                    span.glitch-color .

                .content
                    .text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        | dolore magna aliqua. Amet massa vitae tortor condimentum lacinia. Amet nulla facilisi morbi tempus iaculis urna.

                    .details.grid.grid-cols-1.md--grid-cols-3
                        .item
                            span.details-item-title Name: 
                            | Pablo Gamito
                        .item
                            span.details-item-title Phone: 
                            | +44 7759 463342
                        .item
                            span.details-item-title Email: 
                            | pablo@gamito.me
                        .item
                            span.details-item-title Job: 
                            | Software Engineer
                        .item
                            span.details-item-title Citizenship: 
                            | France & Spain
                        .item
                            span.details-item-title Residence: 
                            | London, UK

            .subsection
                .title
                    | education
                    span.glitch-color .

                .content
                    .timeline
                        .item
                            .timeline-dates Oct. 2017 - Jun. 2021
                            .timeline-title 
                                span.institution 
                                    a(href="https://www.imperial.ac.uk/") Imperial College London&nbsp;
                                span.position — MEng Computing

            .subsection
                .title
                    | work experience
                    span.glitch-color .

                .content
                    .timeline
                        .item
                            .timeline-dates May. 2020 - Oct. 2020
                            .timeline-title 
                                span.company 
                                    a(href="https://about.google/") Google&nbsp;
                                span.position — Software Engineering Intern
                        .item
                            .timeline-dates Jun. 2019 - Sep. 2019
                            .timeline-title 
                                span.company 
                                    a(href="https://www.gresearch.co.uk/") G-Research&nbsp;
                                span.position — Software Engineering Intern

                        .item
                            .timeline-dates Jul. 2018 - Sep. 2018
                            .timeline-title 
                                span.company 
                                    a(href="http://netcraft.com/") Netcraft&nbsp;
                                span.position — Software Developer Intern

            .subsection
                .title
                    | personal projects
                    span.glitch-color .

    .section-wrapper
        .section#contact
            .title
                | &gt; contact me&nbsp;
                span.cursor &block;

            .grid.grid-cols-1.md--grid-cols-11

                .subsection.md--col-start-8.md--col-end-12
                    .title
                        | contact information
                        span.glitch-color .

                    .content
                        .contact-methods
                            
                            a(href="https://link.gamito.me/whatsapp", target="_blank").contact-method
                                .icon
                                    i.media-icon.fab.fa-whatsapp
                                .val
                                    | wa.me/447759463342
                            
                            
                            a(href="https://link.gamito.me/messenger", target="_blank").contact-method
                                .icon
                                    i.media-icon.fab.fa-facebook-messenger
                                .val
                                    | m.me/pablo.gamito

                            a(href="https://link.gamito.me/linkedin", target="_blank").contact-method
                                .icon
                                    i.media-icon.fab.fa-linkedin
                                .val
                                    | in/pablogamito

                            a(href="mailto:pablo@gamito.me", target="_blank").contact-method
                                .icon
                                    i.media-icon.far.fa-envelope
                                .val
                                    | pablo@gamito.me

                .subsection.md--col-start-1.md--col-end-8.md--row-start-1
                    .title
                        | send me an email
                        span.glitch-color .

                    .content
                        form.contact-form
                            .establish-smtp-connection.hidden
                                .server 220 smtp.pablogamito.com Simple Mail Transfer Service Ready
                                br
                                div HELO client.pablogamito.com
                                .server 250 Hello client.pablogamito.com
                                br

                            .input.email
                                label MAIL FROM:
                                input(type="email", placeholder="tim@bernerslee.com")
                            .result.hidden 250 OK

                            div DATA
                            .server.hidden 354 Enter message, ending with "." on a line by itself

                            .input.name
                                label From: 
                                input(type="text", placeholder="Timothy Berners-Lee")

                            .input.subject
                                label Subject:
                                input(type="text", placeholder="Mailbomb Daemon")

                            .input.body
                                textarea(name="message", cols="30", rows="10", placeholder="Haxx0r ipsum is random text that makes no sense. Highjack the tunnel connection to ack the mailbomb daemon. On January 1, 1970 the race condition protected malloc from syn /dev/null. The Donald Knuth and Linus Torvalds segfault recursively and concurrently stack overflow stdio.h forks. Void all your bases, they belong to us the function memory leaks. Use the fopen boolean cookie to hack the mainframe. Python terminal public unix, it's a feature. Todo sudo block win script kiddies and man pages bar. Finally unix then firewall gc. I'm sorry Dave, I'm afraid I can't do that. Cd strlen ip for perl kilo server. True sql malloc eaten by a grue frack eof.")
                            span .
                            button(type="submit") send message


    .footer
        .rights-reserved
            | © 2020. All rights reserved.
        .social-media-icons
            a(href="https://link.gamito.me/linkedin").media-icon.fab.fa-linkedin
            a(href="https://link.gamito.me/github").media-icon.fab.fa-github
            a(href="https://link.gamito.me/medium").media-icon.fab.fa-medium

    // Defines the distortions to apply for title glitch effects
    svg(xmlns='http://www.w3.org/2000/svg' version='1.1').glitch-svg
        defs
            filter#distort-1
                // Random noise
                feturbulence(basefrequency='0.02' numoctaves='8')
                // Distort SourceGraphic based on noise
                fedisplacementmap(in='SourceGraphic' scale='10')
            filter#distort-2
                // Another random noise pattern
                feturbulence(basefrequency='0.01' numoctaves='6')
                // Distort SourceGraphic based on noise
                fedisplacementmap(in='SourceGraphic' scale='10')
            filter#sharp-distort
                // Very fine random noise
                feturbulence(basefrequency='0.2' numoctaves='8')
                // Apply a sharpening effect to the noise. Convolution kernel taken from https://en.wikipedia.org/wiki/Kernel_(image_processing)
                feconvolvematrix(kernelmatrix="\n\
                    0  -1   0\n\
                    -1   5  -1\n\
                    0  -1   0\n\
                ")
                // Distort SourceGraphic based on sharpened noise
                fedisplacementmap(in='SourceGraphic' scale='10')

    script(src="./index.js")